@use "googleButton";
@use "variables";

// Buttons
@mixin button-style($bg-color, $font-size: 1rem, $text-color: white, $padding: 0.5rem 0.5rem) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 4px;
  padding: $padding;
  font-size: $font-size;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 700px) {

  }

  &:hover {
    background-color: scale-color($bg-color, $lightness: -10%);
  }
}

.btn {
  @include button-style(variables.$color-orange-1);

  @media (max-width: 700px) {
    @include button-style(variables.$color-orange-1, 1.2rem, white, 0.6rem);
  }
}

.btn-google-blue {
  @include button-style(variables.$google-blue);
}