// Define color variables
$color-orange-1: #ffb758;  // Light orange
$color-orange-2: #f39c12;  // Medium orange
$color-orange-3: #e67e22;  // Darker orange
$color-gray-1: #f2eeee;    // Light gray dee0e3
$color-gray-2: #ced1d2;    // Medium gray
$color-gray-3: #7f8c8d;    // Dark gray
$google-blue: #4285f4;
$google-active-blue: #1669F2;

// Typography
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// General Padding and Margin Values
$default-padding: 10px;
$default-margin: 1em;

// Font Sizes
$default-font-size: 14px;
$header-font-size: 16px;

// General Border Radius
$default-border-radius: 5px;

