@use "variables";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

html, body {
  font-family: Roboto, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: variables.$color-gray-1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex: auto;
}

footer {
  background-color: variables.$color-orange-1;
  color: white;
}