@use "variables";

.navbar {
  position: relative; /* Establish a reference for absolute positioning */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$color-orange-1;
  height: 60px; /* Define navbar height */
  
  .navbar-group {
    display: flex;
    flex-direction: row;
    margin: 0; /* Remove extra spacing */
    padding: 0; /* Remove extra padding */
    height: 100%; /* Match navbar height */
    align-items: center;

    li {
      list-style-type: none;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .navbar-item {
      display: flex;
      align-items: center;
      justify-content: center; /* Center content inside the box */
      height: 100%;
      padding: 0 20px; /* Add horizontal padding for spacing */
      font-size: 1.2em;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: variables.$color-orange-2;
      }
    }

    .navbar-highlight {
      font-weight: bold;
    }

    .button-item {
      border: none;
      background: none;
      color: white;
      cursor: pointer;
      text-align: center;
      font-size: 1.2em;

      &:hover {
        background-color: variables.$color-orange-2;
      }
    }
  }

  .navbar-title {
    position: absolute; /* Place the title in the exact middle */
    top: 50%; /* Vertically center relative to navbar */
    left: 50%; /* Horizontally center relative to navbar */
    transform: translate(-50%, -50%); /* Adjust for element's size */
    text-align: center;

    h1 {
      color: white;
      font-size: 1.5em;
      margin: 0;
    }
  }
  @media (max-width: 800px) {
    .navbar-title {
      visibility: hidden;
    }
  }
}