<div class="site-footer">
  <p class="footer-copy">&copy; Copyright 2024 Birgir &Oacute;li Snorrason</p>
</div>
<div class="loader display-none" id="loader"></div>
<script src="/scripts/pwa.js"></script>
