<meta charset="UTF-8">
<title>Pricewatcher - Never miss a price drop </title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/general.css" type="text/css">
<link rel="stylesheet" href="/css/navbar.css" type="text/css">
<script src="/scripts/httpUtil.js"></script>
<script src="/scripts/generalUtil.js"></script>