<meta charset="UTF-8">
<title>Template app: With basic user and pass + Google Auth 2.0</title>

<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/general.css" type="text/css">
<link rel="stylesheet" href="/css/navbar.css" type="text/css">
<script src="/scripts/httpUtil.js"></script>
<script src="/scripts/generalUtil.js"></script>