<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="body-container">

<header>
  <%- include('./partials/header', {navItem: 'login'}); %>
</header>

<main>
  <div class="content-container">
    <div class="center-col-container">
      <div class="center-col-container">
        <div class="center-row-container">
          <input class="input-text" id="email" type="email" autocomplete="email" placeholder="Email">
        </div>
        <p id="forgot-password-status" style="color:green;"><%= message || '' %></p>
        <button class="btn-google-blue" onClick="sendRecoveryEmail()">Send recovery email</button>
        <p><a href="/auth/login">Back to login</a></p>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>

<script>
  let loaderEl = document.getElementById('loader');
  let forgotPasswordStatusEl = document.getElementById('forgot-password-status');

  function showLoader() {
    loaderEl.classList.remove('display-none');
  }

  function hideLoader() {
    loaderEl.classList.add('display-none');
  }

  function sendRecoveryEmail() {
    const email = document.getElementById('email').value;

    forgotPasswordStatusEl.style.color = 'green';
    forgotPasswordStatusEl.innerText = '';

    showLoader();
    postData('/auth/forgot-password', { email }).then((response) => {
      hideLoader();
      forgotPasswordStatusEl.style.color = 'green';
      forgotPasswordStatusEl.innerText = response.message;
    }).catch((error) => {
      hideLoader();
      forgotPasswordStatusEl.style.color = 'red';
      forgotPasswordStatusEl.innerText = error;
    });
  }
</script>
