<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="body-container">

<header>
  <%- include('partials/header', {navItem: 'other'}); %>
</header>

<main>
  <div class="content-container">
    <p>Other stuff</p>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>

<script>

</script>